<div id="sidebar" class="col-2 d-flex flex-column">
  <h3><a href="/">Team 3</a></h3>
  <h5>S12</h5>
  
  <a href="/roll-up">Roll Up</a>
  <a href="/drill-down">Drill Down</a>

  <a href="/dice">Dice</a>
  <a href="/slice">Slice</a>

  <footer>See our <a href="https://www.notion.so/stadvdbs123/STADVDB-S12-3-MC02-1ca130d1ac0a49fdba10d793beff26a0">Notion</a> for all the relevant information and links.</footer>
</div>