<div id="app" class="row">
  {{>sidebar}}

  <div id="content" class="col-10">
    
    <h1>STADVDB MC02</h1>
    <h2>Team 3</h2>
    <h3>Members</h3>
    <ul>
      <li>CANSANA, Jose Lorenzo</li>
      <li>JAMALUL, Gabriel Rasheed</li>
      <li>OLIQUINO, Alfred</li>
      <li>PE, Sean Michael</li>
    </ul>
    <b class='mr-5'>Dataset</b>
    <a class='blue-hover' href="https://www.kaggle.com/justinas/nba-players-data">NBA Players</a> - Biometric, biographic and basic box score features from 1996 to 2019 season. 
    <hr>
    <div class="col-8">
      <h3>Explanation of Queries</h3>
      <b>Drill Down vs Roll Up</b>
      <p>In these queries, we will determine the average points of certain dimensions. For the Drill down, we are going specific with finding the teams' average points of all time. For Roll up, we are only getting the divisions' average points of all time. </p>
      <b>Slice</b>
      <p>We are cutting the data cube to one of its faces in this case at its season. We are finding the teams' average points in a season.</p>
      <b>Dice</b>
      <p>We will be trimming the data cube to a smaller cube where we get to control the conference and season to be viewed. We are still finding the all teams in the chosen conference's average points in a season </p>
    </div>
  </div>
</div>